  <section id="products-menu-nav">
    <h2 class="menu-heading">Categories</h2>
    <div id="product-categories-wrapper">
      <ul class="categories">
        <li class="btn active" onclick="filterSelection('all')">ALL</li>
        <li class="btn" onclick="filterSelection('women')">WOMAN</li>
        <li class="btn" onclick="filterSelection('man')">MAN</li>
        <li class="btn" onclick="filterSelection('accessories')">ACCESSORIES</li>
        <li class="btn" onclick="filterSelection('shoes')">SHOES</li>
        <li class="btn" onclick="filterSelection('accessories')">ACCESSORIES</li>
      </ul>
    </div>
  </section>