<div class="card-wrapper">
  <div class="card-image">
    <i class="product-card-whishlist fa fa-heart"></i>
    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Home/LA/CatTiles/new/musruthi_2018-02-14T07-54_c3a1c0_1099842_670x700-7._CB502681521_.jpg" alt="">
  </div>
  <div class="card-description">
    <div class="product-title"><h4 class="card-heading">{{product_name}} {{product_price}}</h4> <div class="product-card-rating" ><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i></div></div>
    <p class="product-card-description">{{product_card_description}}</p>
  </div>
</div>