{% extends "_base.html" %}

{% block pagehead %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block page_content %}
  <section id="products-wrapper">
    {% include "/home/rashmi/Desktop/web_app/web_app/products/templates/product/_product-card.html" with product_name="product_name" product_price="1" product_card_description="Lorem Ipsum is simply dummy text of the printing and typesetting industry." %}
    {% include "/home/rashmi/Desktop/web_app/web_app/products/templates/product/_product-card.html" with product_name="product_name" product_price="2" product_card_description="Lorem Ipsum is simply dummy text of the printing and typesetting industry." %}
    {% include "/home/rashmi/Desktop/web_app/web_app/products/templates/product/_product-card.html" with product_name="product_name" product_price="2" product_card_description="Lorem Ipsum is simply dummy text of the printing and typesetting industry." %}
    {% include "/home/rashmi/Desktop/web_app/web_app/products/templates/product/_product-card.html" with product_name="product_name" product_price="4" product_card_description="Lorem Ipsum is simply dummy text of the printing and typesetting industry." %}
    {% include "/home/rashmi/Desktop/web_app/web_app/products/templates/product/_product-card.html" with product_name="product_name" product_price="1" product_card_description="Lorem Ipsum is simply dummy text of the printing and typesetting industry." %}
    {% include "/home/rashmi/Desktop/web_app/web_app/products/templates/product/_product-card.html" with product_name="product_name" product_price="2" product_card_description="Lorem Ipsum is simply dummy text of the printing and typesetting industry." %}
    {% include "/home/rashmi/Desktop/web_app/web_app/products/templates/product/_product-card.html" with product_name="product_name" product_price="2" product_card_description="Lorem Ipsum is simply dummy text of the printing and typesetting industry." %}
    {% include "/home/rashmi/Desktop/web_app/web_app/products/templates/product/_product-card.html" with product_name="product_name" product_price="4" product_card_description="Lorem Ipsum is simply dummy text of the printing and typesetting industry." %}
    {% include "/home/rashmi/Desktop/web_app/web_app/products/templates/product/_product-card.html" with product_name="product_name" product_price="1" product_card_description="Lorem Ipsum is simply dummy text of the printing and typesetting industry." %}
    {% include "/home/rashmi/Desktop/web_app/web_app/products/templates/product/_product-card.html" with product_name="product_name" product_price="2" product_card_description="Lorem Ipsum is simply dummy text of the printing and typesetting industry." %}
    {% include "/home/rashmi/Desktop/web_app/web_app/products/templates/product/_product-card.html" with product_name="product_name" product_price="2" product_card_description="Lorem Ipsum is simply dummy text of the printing and typesetting industry." %}
    {% include "/home/rashmi/Desktop/web_app/web_app/products/templates/product/_product-card.html" with product_name="product_name" product_price="4" product_card_description="Lorem Ipsum is simply dummy text of the printing and typesetting industry." %}
  </section>
{% endblock %}

{% block footer %}
    
{% endblock %}