{% extends "_base.html" %}

{% block pagehead %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block page_content %}
   <section id="products-wrapper">
      <form class="product-form" action="{% url 'products:addproduct' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Addproduct">
      </form>
   </section>
{% endblock %}

{% block footer %}

{% endblock %}
